<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/write">Write <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/list">LIST</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5" style="background:lightcyan; border-radius:12px; border:dashed 1px black;">
    <h2 style="text-align:center; padding:10px;">글 목록</h2>
  <hr>
    <!-- <% for(let i=0; i < result.length ; i++) { %>
    <div class="todo"><span>할일 제목 : <%= result[i].제목 %></span>
    <span>, 마감 날짜 : <%= result[i].날짜%></span></div>
    <% } %> -->

    <% result.map((e,i)=>{ %>
        <div class="todo">
            <span>&#12800<%= i%10 %>  글번호 : <%= e._id %> . </span>
            <span>제목 : <%= e.제목 %></span>
            <span>, 날짜 : <%= e.날짜%></span>
            <form action=""></form>
            <button class="btn btn-danger btn-sm delete" data-id="<%= e._id %>">삭제</button>
            <hr>
        </div>
        
    <% }) %>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
  <script>
    $('.delete').click((e) => {
      let num = e.target.dataset.id;
     
      $.ajax({
      method : 'DELETE',
      url : '/delete',
      data : {_id:num}
    }).done((result) => {
      let target = $(this);
      console.log(target);
      target.parent('.todo').fadeOut();
      console.log(num+'삭제성공3'+this);

    }).fail((a,b,c) => {
      console.log(a,b,c)
    });

     })
 
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>